* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto 327px auto;
    grid-template-rows: 226 554;
    grid-template-areas: 
    'sdl int sdr'
    'sdl bod sdr';
    height: 912px;
    align-content: center;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 16px;
    height: 80px;
}

.intro {
    grid-area: int;
    height: 262px;
    text-align: center;
    margin-bottom: 64px;
}

.intro p {
    font-weight: 500;
    height: 130px;
    margin: 5px;
}


.cta {
    grid-area: bod;
    height: 554;
}


/* FOOTER */

.attribution {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 11px;
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }