* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: auto 327px auto;
    grid-template-rows: 226 554;
    grid-template-areas: 
    'sdl int sdr'
    'sdl bod sdr';
    margin-top: 88px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 16px;
    height: 80px;
}

/* INTRO SECTION */

.intro {
    grid-area: int;
    height: 226px;
    text-align: center;
    margin-bottom: 64px;
}

.intro p {
    font-weight: 500;
    height: 130px;
    margin: 5px;
}

/* CTA SECTION */

.cta {
    grid-area: bod;
    height: 554;
}

.cta h2 {
    height: 88px;
    margin-bottom: 24px;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 18px 67px;
    line-height: 26px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688)
}

.cta h2 span {
    font-weight: 700;
}

.cta form {
    height: 442px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.cta form input {
    
    width: 279px;
    height: 56px;
    padding: 15px 19px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
}

.cta form p {
    color: var(--grayish-blue);
    font-size: 11px;
    margin: 0 39px 24px 39px;
    text-align: center;
    line-height: 21px;
}

.cta form p span {
    color: var(--red);
    font-weight: 700;
}

.cta .btn-submit {
    background-color: var(--green);
    border: none;
    /* border-bottom: 5px solid hsl(154, 59%, 46%); */
    color: #fff;
    text-transform: uppercase;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.input-top {
    margin: 24px 24px 8px 24px;
}

.input-mid {
    margin: 8px 24px 8px 24px;
}

.input-bottom {
    margin: 8px 24px 8px 24px;
}

/* FOOTER */

.attribution {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 11px;
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: auto 339px 339px auto;
        grid-template-rows: 554;
        grid-template-areas: 
        'sdl int bod sdr';
        column-gap: 30px;
        margin-top: 121px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        height: 554px;
        margin-top: 10px;
    }
}